@media screen and (max-width:1200px) {
    nav {
        
        flex-direction: column;
        height: 245px;

    }

    nav > * {
        margin: 15px 0px;
    }
    .slider {
        overflow: hidden;
    }
}